  <div class="container">
    <h1>Let's add a new movie</h1>
    <p>Find a new movie to include in your to watch list.</p>

    <div class="row">

      <%= simple_form_for [@list, @bookmark] do |f| %>

        <%= f.association :movie %>
        <%= f.input :comment %>

        <%= f.submit 'Create bookmark', class: 'btn btn-lg btn-primary' %>
      <% end %>

    </div>
  </div>
